* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#home-page {
  position: relative;
  height: 100vh; /* add this to make the background cover the full height */
  overflow: hidden; /* add this to prevent the blurry background from overflowing */
}

#home-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 194, 204, 0.5) 20%, rgba(219, 73, 97, 0.5) 80%);
  background-size: 100% 300px; /* adjust the background size to cover the full width and a fixed height */
  background-position: center top;
  z-index: -1;
}


#home-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bgCover_01.jpg);
  background-size: cover;
  background-position: center center;
  filter: blur(3px);
  z-index: -2;
}

.home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.home h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size:15px;
}
.home h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
}


.home_block1_text-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: 100%;

  & .resume {
   
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    background-color: pink;
    border-radius: 25px;
    transition: all ease-in 1s;
  
    & > a{
        text-align: center;
        text-decoration: none;
        color: black;
    }
  
    &:hover{
        background-color: #ef97a6;
    
  }
}

.home_block1_text h1 {
  padding-left: 30px;
  font-size: 50px;
  text-align: center;
}

.home_block1_text h2 {
  padding-left: 10px;
  font-size: 30px;
}

.home_block1_navigation1{
  display: flex;
  padding-top: 20px;
  width: 55%;
  justify-content: space-evenly;

 
  }


img {
  object-fit: cover;
  width: 55%; 
}

.home_block3_text2{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 20px;
  width: 22%;
  height: 100%;
}

.home_block3_text2 h4 {
  padding-top: 20px;
}

.home_block3_text2 p {
  padding-right: 30px;
  font-size: 15px;
  text-align: justify;
}



