.title {
  display: flex;
  align-items: center;
}

.title p {
  padding: 10px;
}


.footer1 {
  padding: 25px;
  display: flex;
  background-image: linear-gradient(90deg, wheat 73%, #8ec7c7 35%);
   justify-content: space-around;
}

.block1 {
  width: 22vw;
}

.block1_textandimage {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.block1 img {
  width: 200px;
  height: 200px;
}

.block1_text h1{
  font-family: "Chonburi", serif;
}

.block1_text p{
  font-family: "Chonburi", serif;
 font-size: 10px;
}

.block1_promotionaltext p {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-size: 15px;
  width: 400;

}

.block2{
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.block2_services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.block2_services  h3{
    font-family: "Chonburi", serif;
}

.block2_services  p{
  font-family: "Montserrat", serif;
  width: 400;
}

.block2_inquiries_text2 {
  width: 55vw;
  display: flex;
  flex-direction: column;
}

.block2_inquiries_text1 p {
  font-family: "Montserrat", sans-serif;
}

.block2_inquiries_text2 h3 {
  font-family: "Chonburi", serif;
  margin-bottom: 5px;
}


.block2_inquiries_text2 p {
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
}


.block3_Location {
  padding-top: 20px;
  width:20vw;
}
.block3_Location h1 h3{
  font-family: "Chonburi", serif;

}

.block3_Location p{
  font-family: "Montserrat", serif;

}
/*Footer 2*/

.footer2 {
  padding-top: 25px;
  display: flex;
  background-color: #9d2e1d;
  flex-direction: row;
  justify-content: space-around;
  color:wheat
}

.footer2 h1 h3 {
  font-family: "Cinzel", serif;

}

.footer2 p {
  font-family: "Economica", sans-serif;
  letter-spacing: 1px ;
}

.f2_block1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.f2_block2 {
  display: flex;
  flex-direction: column;
}

.f2_block2 p {
  padding-top: 50px;
  padding-bottom: 30px;
}

.f2_block2_emailandsignup {
  display: flex;
  flex-direction: column;
}

.f2_block2_email input[type="email"] {
  padding: 20px;
  width: 400px;
  background-color: transparent;
  border: 2px solid wheat;
  color: wheat;
  margin: 0 auto; /* Center the input field horizontally */
}

.f2_block2_email input[type="email"]:placeholder-shown {
  color: #d3b369; /* Change the placeholder color for browsers that don't support placeholder-color */
}


.f2_block2_button1 {
  padding-top: 20px;
}

.btn {
  border: 2px solid wheat;
  background-color: transparent;
  color: wheat;
  font-family: "Economica", sans-serif;
  letter-spacing: 2px;
  padding: 14px 28px;
  font-size: 15px;
  cursor: pointer;
  width: 200px;
}



.f2_block2_icons {
  display: flex;
  padding-top: 50px;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.f2_block2_icons i {
  padding: 20px 15px;
}

/*Footer 3*/
.footer3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #bbeeb5;
  justify-content: space-between;
  padding: 0px 30px;
}

.f3_block1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.f3_block2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.f3_block2_text {
  display: flex;
  flex-direction: row;
}

/*footer 4*/
.footer4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbede1;
  color: rgb(92, 22, 55);
  padding: 10px
}

.footer4 h1 h3 {
  font-family: "Yeseva One", serif;
}

.footer4 a{
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  text-decoration: none;

}

.f4_block1 {
  display: flex;
  width: 100vw;
  padding-bottom: 30px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.f4_block1 img {
  height: 130px;
  width: 130px;
  border-radius: 300px;
}

.f4_block2 {
  display: flex;
  width: 100vw;
  height: 15vh;
  align-items: center;
  justify-content: center;
}

.f4_block2 a {
  border-left: 2px solid black;
  border-right: 2px solid black;
padding: 0px 50px 0px 50px;
}


.f4_block3 {
  display: flex;
  width: 100vw;
  gap: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.f4_block4 {
  display: flex;
  width: 100rem;
  gap: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

/*Footer5*/

.footer5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 56px;
  padding: 25px;
   background-color: #191919;
  color: #c4b395;
}

.footer5 h1, .footer5 h3 {
  font-family: "Abril Fatface", serif;
  letter-spacing: 2px;
}

.footer5 p {
  font-family: "Raleway", sans-serif;
}

.footer5 a {
  text-decoration: none;
}

.f5_block1 {
  width: 25vw;
}
.f5_block1_emailandsignup {
  display: flex;
  flex-direction: row;
  gap: 25px
}

.f5_block1_email input[type="email"] {
  padding: 20px;
  margin: 0 auto; /* Center the input field horizontally */
}

.f5_block1_button1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 2px solid #c4b395;
}

.f5_btn i {
color: #c4b395;
;
}


.f5_block2 {
  display: flex;
  justify-content: space-around;
  width: 55vw;
}

.f5_block2_navigation {
  text-decoration: none
}

.f5_block2_navigation1 {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.f5_block2_navigation1 a {
  text-decoration: none;
  color: #c4b395;
}
.f5_block3 {
  display: flex;
  align-items: center;
}
.f5_block3 img {
  height: 200px;
  width: 200px;
  border-radius: 10px; /* Add a value for border-radius */
}