.title {
  display: flex;
  align-items: center;
}

.title p {
  padding: 10px;
}

.header01 {
  overflow: hidden;
  background-color: #f9e9bf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.h1_block1_logo img {
  object-fit: cover;
  height: 70px;
  width: 70px;
  padding: 10px;
}

.h1_block2_navigationandsearch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h1_block2_navigation1 a {
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.h1_block2_search {
  align-content: center;
  padding: 20px;
}

/* Style the search box inside the navigation bar */
nav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/*Section 2*/

.header02 {
  background-color: #9d2e1d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.h2_block1_imageandtext {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h2_block1_imageandtext h1 {
  padding: 20px;
  font-family: "Cinzel", serif;
  color: wheat;
}

.h2_block1_imageandtext img {
  object-fit: cover;
  height: 70px;
  width: 70px;
  padding: 10px;
  border-radius: 50px;
}

.h2_block2_navigationandsearch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.h2_block2_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.h2_block2_navigationandsearch a {
  color: wheat;
  text-align: center;
  font-family: "Economica", sans-serif;
  padding: 20px 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.h2_block3_searchandicon {
  color: wheat;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}


.h2_block4_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: 2px solid wheat;
  border-radius: 25px;
}

/*Section 3*/

.header03 {
  background-color: #bbeeb5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%}

.h3_block2_icon1 {
  padding-right: 20px;
}

.h3_block1_logo h1 {
  font-size: 2rem;
  font-family: "Righteous", sans-serif;
}

.h3_block2_SIP {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
}

.h3_block2_search {
  display: flex;
  flex-direction: row;
  width: 22%;
}

/* Style the search box inside the navigation bar */
nav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.h3_block2_icons2 {
}

.h3_block2_navigation1 {
  display: flex;
  gap: 50px;  

}

.h3_block2_navigation1 a {
  color: rgb(92, 22, 55);
  display: flex;
  text-decoration: none;
}

.h3_block2_iconandimage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}


.h3_block2_navigation2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
  width: 85px;
}

.h3_block2_navigation2 a {
  color: rgb(92, 22, 55);
  text-decoration: none;
}
.h3_block2_iconandimage {
  display: flex;
  flex-direction: row;
  width: 22%;

}

.h3_block2_iconandimage img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}


/*Section 4*/

.header04 {
  overflow: hidden;
  background-color: #dbede1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Logo4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: Righteous;
}

.Logo4 a {
  padding: 20px 26px;
  color: rgb(92, 22, 55);
}

.Logo4 img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  padding: 20px;
}

.searchbar04 input[type="text"] {
  align-content: center;
  padding: 20px;
  width: 700px;
}

/* Style the search box inside the navigation bar */
nav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.block43 {
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.block43 a {
  padding: 20px 16px;
  color: rgb(92, 22, 55);
}

.block43 p {
  padding: 20px 16px;
  color: rgb(92, 22, 55);
}

/*Section 5*/

.header05 {
  overflow: hidden;
  background-color: #191919;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Logo5 {
  padding: 16px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.Logo5 img {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  padding-right: 20px;
}

.Nav_05 a {
  float: left;
  display: block;
  color: #c4b395;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 15px;
}
.block53 {
  padding-right: 50px;
}

.block53 a {
  padding: 20px 16px;
  color: #c4b395;
}

/*nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
/*nav a.active {
  background-color: #2196f3;
  color: white;
}
*/
