.title {
  display: flex;
  align-items: center;
}

.title p {
  padding: 10px;
}

 .header01 {
  overflow: hidden;
  background-color: #f9e9bf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Logo img {
  object-fit: cover;
  height: 70px;
  width: 70px;
  padding: 10px;
}

.context {
  display: flex;
  flex-direction: row;
}

.Nav_01 a {
  float: left;
  display: block;
  font-style: Tiny5;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 15px;
}

.searchbar {
  align-content: center;
  padding: 20px;
}

/* Style the search box inside the navigation bar */
nav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/*Section 2*/

.header02 {
  overflow: hidden;
  background-color: #9d2e1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Logo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Logo2 h1 {
  padding: 20px;
}

.Logo2 img {
  object-fit: cover;
  height: 70px;
  width: 70px;
  padding: 10px;
  border-radius: 50px;
}

.context02 {
  background-color: #9d2e1d;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Nav_02 a {
  float: left;
  display: block;
  color: wheat;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 15px;
}

.fa-solid fa-bag-shopping {
  padding: 10px;
}

.icons02 {
  color: wheat;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.searchbar02 {
  align-content: center;
  padding: 15px;
}

/*Section 3*/

.header03 {
  background-color: #bbeeb5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; 
  
}

.Logo3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.Logo3 h1{
  font-size: 2rem;
  font-family: "Righteous", sans-serif;
}

.context03 {
  background-color: #bbeeb5;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.block31 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.searchbar03 {
  align-content: center;
  padding-left: 15px;
}

/* Style the search box inside the navigation bar */
nav input[type="text"] {
  
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.block32{
  padding: 20px;
 
}

.Nav_03 {
  display: flex;
  justify-content: space-between;
}
.Nav_03 a {
  color: rgb(92, 22, 55);
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;

}


.block33 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block33 a {
  padding: 20px 16px;
  color: rgb(92, 22, 55);
}
.image_boarder3{
padding: 30px;
}

.block33 img {
width: 50px;
height: 50px;
border-radius: 50px;
}

/*Section 4*/

.header04{
  overflow: hidden;
  background-color: #dbede1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Logo4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: Righteous;
}

.Logo4 a {
  padding: 20px 26px;
  color: rgb(92, 22, 55);
}

.Logo4 img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  padding: 20px;
}

.searchbar04 input[type="text"] {
  align-content: center;
  padding: 20px;
  width: 700px;
}

/* Style the search box inside the navigation bar */
nav input[type="text"] {
  
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.block43 {
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.block43 a {
  padding: 20px 16px;
  color: rgb(92, 22, 55);
}

.block43 p {
  padding: 20px 16px;
  color: rgb(92, 22, 55);
}

/*Section 5*/

.header05{
  overflow: hidden;
  background-color: #191919;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Logo5{
  padding: 16px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.Logo5 img {
border-radius: 50px;
width: 100px;
height: 100px;
padding-right: 20px;
}

.Nav_05 a {
  float: left;
  display: block;
  color: #c4b395;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 15px;
}
.block53 {
  padding-right: 50px;
}

.block53 a {
  padding: 20px 16px;
  color: #c4b395;
}

/*nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
/*nav a.active {
  background-color: #2196f3;
  color: white;
}
*/
