

.title {
  display: flex;
  align-items: center;
}

.title p {
  padding: 10px;
}

.header01 {
  overflow: hidden;
  background-color: #f9e9bf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.Logo img {
  object-fit: cover;
  height: 70px;
  width: 70px;
  padding: 10px;
}


.context {
    display: flex;
    flex-direction: row;
}



nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 15px;
}

.searchbar {
  align-content: center;
  padding: 20px;
}

/* Style the search box inside the navigation bar */
nav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/*Section 2*/

.header02 {
  overflow: hidden;
  background-color: #9d2e1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Logo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Logo2 h1 {
  padding: 20px;
}

.Logo2 img {
  object-fit: cover;
  height: 70px;
  width: 70px;
  padding: 10px;
  border-radius: 50px;
}

.line02 hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  color: aquamarine;
  border-width: 1px;
}

.Nav_02 a {
  float: left;
  display: block;
  color: wheat;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 15px;
}

/*nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
/*nav a.active {
  background-color: #2196f3;
  color: white;
}
*/